eclipse-workspace/ROOT.war
eclipse-workspace/Servers
eclipse-workspace/.metadata
eclipse-workspace/ROOT/build
eclipse-workspace/ROOT/.classpath
eclipse-workspace/ROOT/.gitignore
eclipse-workspace/ROOT/.project
eclipse-workspace/ROOT/.settings
